<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Relatório de Vendas</title>
</head>

<body>
    
    <div id="app">
        <div id="container">
            <h1 class="mt-3">{{ title }}</h1>
            <table class="mt-5 table" v-if="salesByProduct">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(sale, index) in salesByProduct">
                        <td>#{{ index + 1 }}</td>
                        <td>{{ sale.name }}</td>
                        <td v-money="'R$'">{{ sale.value }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>+</td>
                        <td>Total</td>
                        <td v-money="'R$'">{{ calculateTotal(salesByProduct) }}</td>
                    </tr>
                </tfoot>
            </table>
            <!-- <table class="mt-5 table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Qtde</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sale in sales">
                        <td>{{ sale.id }}</td>
                        <td>{{ sale.name }}</td>
                        <td v-money="'R$'">{{ sale.price }}</td>
                        <td>{{ sale.qtde }}</td>
                        <td>{{ sale.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div> 
    <script>
        

        Vue.directive('money', {
            inserted(el, binding){
                const amount = parseFloat(el.innerHTML).toFixed(2)
                    .replace('.',',')
                    .replace(/(\d)(?=(\d{3})+\,)/g, '$1.')
                el.innerHTML = `${binding.value} ${amount}`
            }
        })
        new Vue ({
            el: '#app',
            data: {
                title: 'Relatorio de Vendas',
                sales: null
            },
            methods: {
                getSales(){
                    fetch('/data/sales.json')
                        .then(resp => resp.json())
                        .then(data => this.sales = data)
                },
                calculateTotal(sales) {
                    if (!sales) return 0
                    return sales.reduce((total, sale) => total + sale.value, 0)
                }
            },
            computed: {
                salesByProduct() {
                    if (!this.sales) return null

                    const salesByProduct = this.sales.reduce((grouped, sale) => {
                        if (!grouped.hasOwnProperty(sale.name)) {
                            grouped[sale.name] = {
                                name: sale.name,
                                value: sale.price * sale.qtde
                            }
                            return grouped
                        }
                        grouped[sale.name].value += sale.price * sale.qtde
                        return grouped
                    }, {})
                    return Object.values(salesByProduct)
                }
            },
            mounted() {
                this.getSales()
            }
        })
    </script>
</body>

</html>