<h1>Links</h1>

<a id="inicio" href="https://www.google.com.br">Google 1</a><br>
<a href="https://www.google.com.br" target="_blank">Google 2</a><br><br>

<!-- URL Relativa -->

<a href="index.html">Voltar 1</a><br>
<a href="/index.html">Voltar 2</a><br>
<a href="../index.html">Voltar 3</a><br>

<a href="mailto:deivi.schast@gmail.com">Entre em contato</a><br><br>


<div id="noticia" style="position:absolute;top:2000px;">
    <h1>Noticia Buemba!!</h1>
    <p>Nao era nada... :)</p>
    <a href="#inicio">Voltar inicio</a>
</div>

<a href="#noticia">Ir para noticia</a>