<h1>Listas</h1>

<!-- Listas odernada -->
<h2>Aprovados</h2>
<ol>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Ana</li>
    <li>Joao</li>
</ol>

<!-- Lista nao ordenada -->
<h2>Lista de compras</h2>
<ul>
    <li>Queijo</li>
    <li>Leite</li>
    <li>Arroz</li>
    <li>Pao</li>
</ul>

<!--Lista de definicoes-->
<h2>Principais termos do glossario de Cloud Computing</h2>
<dl>
    <dt>BaaS</dt>
    <dd>Backend Como Servico</dd>
    <dt>Iaas</dt>
    <dd>Infraestrutura como servico</dd>
    <dt>PaaS</dt>
    <dd>Plataforma como servico</dd>
    <dt>SaaS</dt>
    <dd>Software como servico</dd>
</dl>