<h1>Tags Nao Visuais</h1>

<!--

section - agrupamento tematico de conteudo

article - conteudo auto-contido
header - cabecalho do doc
footer - rodape do documento
nav - agrupa os links de navegacao
aside - de lado (ex. sidebar). Relacionado com o conteudo em volta (adendo)
details - exibe detalhes que pode ser exibidos ou escondidos

As famosas...
div - divisao ou secao
span - usado para agrupar elementos inline

-->

<div>Area 1</div>
<div>Area 2</div>

<p>
    Esse eh um texto com <span class="diferente">muitas palavras</span> e ponto.
</p>

<style>
    div {
        display: inline;
    }

    span {
        display: block;
    }

    .diferente {
        font-weight: bold;
        font-size: 30px;
        color: chocolate;
    }
</style>