<!-- Cabecalhos -->
<h1>Cabecalho Principal</h1>
<h2>Cabecalho de nivel 2</h2>
<h3>Cabecalho de nivel 3</h3>
<h4>Cabecalho de nivel 4</h4>
<h5>Cabecalho de nivel 5</h5>
<h6>Cabecalho de nivel 6</h6>

<!-- Paragrafos -->
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nstrud exercitations ullamco...
</p>

<!-- Negrito e Italico -->
<p>Texto em <b>negrito</b> e <i>italico</i>.</p>

<!-- Sobrescrito e Subscrito -->
<p>2<sup>2</sup> = 4 e H<sub>2</sub>O = Agua!</p>

<!-- Espaco em branco -->
<p>Espaco         entre         palavras</p>