<h1>Texto (Parte 2)</h1>


<!-- Quebra de linha e quebra tematica -->
<p>Isso esta<br> em uma<br /> nova linha.</p>
<p>Tema interessante 1</p>
<hr />
<p>Tema interessante 2</p>

<!-- Marcacoes semanticas -->
<p><strong>Cuidado!</strong> Alta voltagem! <em>Somente pessoal autorizado.</em></p>
<blockquote cite="https://en.wikipedia.org/wiki/Wikipedia"><p>Citacoes longas...</p></blockquote>
<p>Fulano disse que <q>tempor incididunt ut labore et dolore</q></p>

<!-- Outras tags -->
<p>
    <abbr title="Professor"></abbr> Fulano em seu livro
    <cite>Livro Bem legal</cite> definiu mais precisamente... bla.
</p>
<p>
    <dfn>Buraco Negro</dfn> Eh a regiao do espaco...
</p>

<address>
    <p>Rua ABC, n<sup>o</sup> 123...</p>
</address>

<p> O Oscar vai para <del>La la land</del> <ins>Moonlight.</ins></p>

<p>Computador de <s>R$ 2.249,90</s> por R$ 1.799,90.</p>