<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Binding</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">

    <div id="app">
        <p>{{ link }}</p>
        <p><a href="{{ link }}">Canal?</a></p>
        <p><a v-bind:href="link">Canal</a></p>
        <p><a :href="link">Canal Cod3r</a></p>
        <p>
            <input type="text" v-model="nome"><br>
            <span>{{ nome }}</span>
        </p>


    </div>
    

    <script>
        new Vue ({
            el: "#app",
            data: {
                nome: "Maria",
                link: "https://youtube.com/cod3rcursos"
            },
            watch : {
                nome(novoValor) {
                    console.log(novoValor.toUpperCase())
                }
            }
        })
    </script>
</body>
</html>