<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p>{{ contador }}</p>

        <p>
            <button v-on:click="add">+1</button>
            <button @click="contador -= 2">-2</button>
        </p>
        <p @mousemove="atualizarPosicao">
            Coordenadas: {{x}} e {{y}}
            <span @mousemove.stop>Aqui Nao</span>
            
        </p>
        <input type="text" @keyup.enter="alerta">
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                x: 0,
                y: 0,
                contador: 0
            },
            methods: {
                add() {
                    this.contador++
                }, 
                atualizarPosicao(e) {
                    this.x = e.clientX
                    this.y = e.clientY
                },
                alerta(){
                    alert('Enter!')
                }
            }
        })
    </script>
</body>
</html>