<tag>
    <bla>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
    </bla>
</tag>

<!-- HTML --><meta><br><input>
<tag /><meta /><br /><input />

<tag param1="valor1" param2="valor2">
    <!-- Corpo da tag-->
</tag>

<tag param1="valor1" param2="valor2" />

<input type="text" v-if v-for v-else>