<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Testes</title>
    </head>
</html>

<body>
    <input v-model="message" placeholder="Me edite">
    <p>A mensagem eh: {{message}}</p>
</body>